/* Page Container */
.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #003e29;
  height: 120vh;
}

/* Logo */
.auth-logo img {
  width: 100px; /* Adjust logo size */
  
}

/* Form Container */
.auth-page .auth-form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.auth-page .auth-form h3 {
  margin-bottom: 20px;
  color: #003e29;
}

/* Input Group */
.auth-page .input-group {
  margin-bottom: 15px;
  text-align: left;
}

.auth-page .input-label {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #003e29;
  margin-bottom: 5px;
}

.auth-page .icon {
  margin-right: 8px;
}

.auth-page .input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

/* Button */
.auth-page .auth-button {
  background-color: #003e29;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.auth-page .auth-button:hover {
  background-color: #026746;
}

/* Footer */
.auth-page .auth-footer {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
}

.auth-page .auth-link {
  color: #003e29;
  font-weight: bold;
  text-decoration: none;
}

.auth-page .auth-link:hover {
  text-decoration: underline;
}
