
.admin-dashboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    margin-top: 15px;
}
    
.admin-dashboard .admin-sidebar {
    grid-row: span 6 / span 6;
 
}

.admin-dashboard .admin-cards {
  grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    border: 1px solid black;


}

.admin-dashboard .admin-content {
     grid-column: span 5 / span 5;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 3;
    border: 1px solid black;


}
        


        